################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/holdemmanager_backend/.vs/holdemmanager_backend/FileContentIndex/ba8c9963-58c1-465c-89c8-cba9ef3bdc8e.vsidx
