################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/holdemmanager_backend/.vs/holdemmanager_backend/FileContentIndex/ba8c9963-58c1-465c-89c8-cba9ef3bdc8e.vsidx
/holdemmanager_backend/.vs/holdemmanager_backend/FileContentIndex/8c1f9c8a-7649-4abe-86da-2e6d6cd306e3.vsidx
/holdemmanager_backend/.vs/holdemmanager_backend/v17/.suo
/holdemmanager_backend/.vs/holdemmanager_backend/FileContentIndex
/holdemmanager_backend/holdemmanager_backend_app/obj/Release/net8.0/holdemmanager_backend_app.AssemblyInfo.cs
/holdemmanager_backend/holdemmanager_backend_app/obj/Debug/net8.0/holdemmanager_backend_app.AssemblyInfoInputs.cache
/holdemmanager_backend/holdemmanager_backend_app/obj/Debug/net8.0/holdemmanager_backend_app.AssemblyInfo.cs
/holdemmanager_backend/.vs/VSWorkspaceState.json
*.sqlite
/holdemmanager_backend/.vs/holdemmanager_backend/DesignTimeBuild/.dtbcache.v2
/holdemmanager_backend/.vs/holdemmanager_backend/v17/.futdcache.v2
/holdemmanager_backend/.vs/holdemmanager_backend/v17/.wsuo
/holdemmanager_backend/.vs/ProjectEvaluation/holdemmanager_backend.metadata.v8.bin
/holdemmanager_backend/.vs/ProjectEvaluation/holdemmanager_backend.projects.v8.bin
/holdemmanager_backend/.vs/ProjectEvaluation/holdemmanager_backend.strings.v8.bin
/holdemmanager_backend/.vs/holdemmanager_backend/v17/DocumentLayout.json

holdemmanager_backend\.vs\holdemmanager_backend\v17\
holdemmanager_backend\holdemmanager_backend\obj\Debug\
holdemmanager_backend\holdemmanager_backend\obj\Release\
holdemmanager_backend\holdemmanager_backend\bin\Debug\
holdemmanager_backend\holdemmanager_backend_web\bin\Debug\
holdemmanager_backend\holdemmanager_backend_web\obj\Debug\
holdemmanager_backend\holdemmanager_backend\obj\
holdemmanager_backend\holdemmanager_backend_app\bin\Debug\
holdemmanager_backend\holdemmanager_backend_app\obj\Debug\
holdemmanager_backend\holdemmanager_backend_web\bin\Debug\
holdemmanager_backend\holdemmanager_backend_web\obj\Debug\













