################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

# Ignorar todos los archivos generados por Visual Studio
.vs/

# Ignorar todos los archivos de configuración de compilación
**/obj/
**/bin/

# Ignorar archivos generados por compilaciones de Debug y Release
**/Debug/
**/Release/

# Ignorar archivos específicos de Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignorar bases de datos SQLite
*.sqlite

# Ignorar caché y archivos de configuración específicos del proyecto
**/*.vsidx
**/.dtbcache.v2
**/.futdcache.v2
**/.wsuo

# Ignorar archivos de estado y evaluación del proyecto
**/ProjectEvaluation/
**/VSWorkspaceState.json

# Ignorar todo lo dentro de la carpeta del proyecto backend
holdemmanager_backend/.vs/
holdemmanager_backend/holdemmanager_backend_app/obj/
holdemmanager_backend/holdemmanager_backend_web/obj/
holdemmanager_backend/holdemmanager_backend_web/bin/
holdemmanager_backend/holdemmanager_backend_app/bin/













/holdemmanager_backend/.vs/holdemmanager_backend/v17/workspaceFileList.bin
