.container {
    height: calc(100vh - 100px);
}

h3 {
    font-size: 1.7em;
    color: #2e2e2e;
    font-weight: 700;
    margin-bottom: 1.2rem;
}

.btn-reg {
    background-color: rgb(255, 120, 30);;
    border-color: none;
}

.card {
    margin-top: 15%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.btn-reg:hover {
    background-color: darkorange;
}

.btn-reg:disabled {
    background-color: darkorange;
    border: none;
}

.btn{
    border: none;
}

.img-container {
    transform: translate(-50%, -50%);
    position: relative;
    left: 50%;
    margin-top: 8%;
  }
  
  .upload-box{
    font-size: 16px;
    background: white;
    border-radius: 10px;
    width: 100%;
    outline: none;
  }
  
  ::-webkit-file-upload-button{
    color: white;
    background: rgb(180, 84, 15);
    padding: 10px;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
  }
  
  ::-webkit-file-upload-button:hover{
    background: rgb(190, 114, 59);
  }