.container {
    height: calc(100vh - 100px);
}

h3 {
    font-size: 1.7em;
    color: #2e2e2e;
    font-weight: 700;
    margin-bottom: 1.2rem;
}

.btn-reg {
    background-color: rgb(255, 120, 30);;
    border-color: none;
}

.card {
    margin-top: 25%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.btn-reg:hover {
    background-color: darkorange;
}