<div class="loading" style="width: 100%; display: flex; justify-content: center;">
  <app-loading *ngIf="loading"></app-loading>
</div>

<div class="container-fluid" style="box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);">

  <div class="dark-background" *ngIf="isCreateJugador"></div>
  <div *ngIf="isCreateJugador" class="centered-container">
    <app-create-player (guardar)="guardarNuevoJugador($event)" (cancelar)="cancelarNuevoJugador()"></app-create-player>
  </div>



  <div class="row">
    <div class="col-12">
      <div class="card text-center" style="padding: 1rem;">
        <div class="header-container">
          <h3>Lista de Jugadores</h3>
          <div class="buttons">
            <a class="btn aceptar" href="javascript:void(0)" (click)="agregarJugador()">
              <i class="bi bi-plus-square-fill"></i> Agregar Jugador
            </a>
          </div>
        </div>
        

        <table class="table table-striped" *ngIf="!loading && jugadores && jugadores.length > 0">
          <thead>
            <tr>
              <th>Numero Jugador</th>
              <th>Nombre</th>
              <th>Email</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let jugador of jugadores">
              <td>{{ jugador.numberPlayer }}</td>
              <td>{{ jugador.name }}</td>
              <td>{{ jugador.email }}</td>
              <td>
                <button class="custom-btn btn btn-primary btn-sm" (click)="editarJugador(jugador)">
                  <i class="fas fa-pen"></i>
                </button>
                <button class="custom-btn btn btn-danger btn-sm" (click)="eliminarJugador(jugador.numberPlayer)">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="!loading && (!jugadores || jugadores.length === 0)">
          <p>No hay jugadores registrados.</p>
        </div>
      </div>
    </div>
  </div>
</div>