<div class="loading" style="width: 100%; display: flex; justify-content: center;">
  <app-loading *ngIf="loading"></app-loading>
</div>
<div class="container-fluid" style="box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4); margin-top: 20px;">
  <div class="row">
    <div class="col-12">
      <div class="card text-center" style="padding: 20px;">
        <h3>Lista de Jugadores</h3>
        <table class="table table-striped" *ngIf="!loading && jugadores && jugadores.length > 0">
          <thead>
            <tr>
              <th>ID</th>
              <th>numberPlayer</th>
              <th>name</th>
              <th>email</th>
              <th>Imagen</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let jugador of jugadores">
              <td>{{ jugador.id }}</td>
              <td>{{ jugador.numberPlayer }}</td>
              <td>{{ jugador.name }}</td>
              <td>{{ jugador.email }}</td>
              <td><img [src]="jugador.imageUrl" alt="Imagen" class="img-fluid" style="max-width: 100px;"></td>
              <td>
                <button class="custom-btn btn btn-primary btn-sm" (click)="editarRecurso(recurso)">
                  <i class="fas fa-pen"></i>
                </button>
                <button class="custom-btn btn btn-danger btn-sm" (click)="eliminarRecurso(recurso.id!)">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="!loading && (!jugadores || jugadores.length === 0)">
          <p>No hay jugadores registrados.</p>
        </div>
      </div>
    </div>
  </div>
</div>


