.create-noticia-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin-bottom: 15px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.btn {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.cancelar {
  background-color: rgb(101, 103, 104);
  color: #fff;
}

.cancelar:hover {
  background-color: rgb(64, 64, 65);
}

.aceptar {
  background-color: rgb(255, 125, 30);
  border: none;
  color: #fff;
}

.aceptar:hover {
  background-color: rgb(180, 84, 15);
}

.img-container {
  transform: translate(-50%, -50%);
  position: relative;
  left: 50%;
  margin-top: 8%;
}

.upload-box{
  font-size: 16px;
  background: white;
  border-radius: 10px;
  width: 100%;
  outline: none;
}

::-webkit-file-upload-button{
  color: white;
  background: rgb(180, 84, 15);
  padding: 10px;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}

::-webkit-file-upload-button:hover{
  background: rgb(190, 114, 59);
}