<app-loading *ngIf="loading" style="display: flex; justify-content: center;"></app-loading>
<div class="create-noticia-container">
  <h3>{{ nuevaNoticia.id ? 'Editar noticia' : 'Agregar nueva noticia' }}</h3>
  <br>
  <form (ngSubmit)="guardarNoticia()" #noticiaForm="ngForm">
    <div class="form-group">
      <label for="titulo">Titulo</label>
      <input type="text" id="titulo" [(ngModel)]="nuevaNoticia.titulo" name="titulo" required class="form-control" #titulo="ngModel">
      <div *ngIf="titulo.invalid && (titulo.dirty || titulo.touched)" class="invalid-feedback">
        El título es obligatorio.
      </div>
    </div>
    <div class="form-group">
      <label for="fecha">Fecha</label>
      <input type="date" id="fecha" [(ngModel)]="formattedDate" name="fecha" required class="form-control" #fecha="ngModel">
      <div *ngIf="fecha.invalid && (fecha.dirty || fecha.touched)" class="invalid-feedback">
        La fecha es obligatoria.
      </div>
    </div>
    <div class="form-group">
      <label for="mensaje">Contenido</label>
      <textarea id="mensaje" [(ngModel)]="nuevaNoticia.mensaje" name="mensaje" required class="form-control" #mensaje="ngModel"></textarea>
      <div *ngIf="mensaje.invalid && (mensaje.dirty || mensaje.touched)" class="invalid-feedback">
        El contenido es obligatorio.
      </div>
    </div>
    <div class="form-group">
      <label for="URLImagen">Imagen (opcional)</label>
      <div class="img-container">
        <input type="file" class="upload-box" id="URLImagen" (change)="imagenSeleccionada($event)">
      </div>
    </div>
    <div class="buttons">
      <button type="submit" class="btn aceptar" [disabled]="noticiaForm.invalid">
        <i class="bi bi-save"></i> {{ 'Guardar'}}
      </button>
      <a class="btn cancelar" (click)="cancelarCreacion()">Cancelar</a>
    </div>
  </form>
</div>