<div class="popup-background">
  <div class="popup-content">
    <button class="close-button" (click)="cerrarPopup()">X</button>
    <h2>Detalles del comentario</h2>
    <p><strong>Mensaje:</strong> {{ feedback?.mensaje }}</p>
    <p><strong>Fecha:</strong> {{ feedback?.fecha | date:'dd/MM/yyyy' }}</p>

    <h3>Información del usuario</h3>
    <p><strong>Nombre:</strong> {{ jugador?.name }}</p>
    <p><strong>Numero de jugador:</strong> {{ jugador?.numberPlayer }}</p>
    <p><strong>Email:</strong> {{ jugador?.email }}</p>
    
  </div>
</div>
