.container {
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

h3 {
    font-size: 1.5em;
    color: #2e2e2e;
    font-weight: 700;
    margin-bottom: 2rem;
}

.btn-reg {
    background-color: #F05f44;
    border-color: #F05f44;
}

.btn-reg:hover{
    background-color: #aa3f2d;
}