.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
}

.contacto-container {
    max-width: 600px;
    margin-top: 150px;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-bottom: 15px;
}

.invalid {
    color: red;
}

.input {
    outline: none;
    width: 100%;
    padding: 5px;
    border: rgb(182, 182, 182) solid 1px;
    border-radius: 4px;
    color: #575757;
    padding-left: 10px;
}

.input:focus {
    border: #575757 solid 1px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.btn {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.cancelar {
    background-color: rgb(101, 103, 104);
    color: #fff;
}

.cancelar:hover {
    background-color: rgb(64, 64, 65);
}

.aceptar {
    background-color: rgb(180, 84, 15);
    border: none;
    color: #fff;
}

.aceptar:hover {
    background-color: rgb(184, 113, 63);
}