<div class="loading-container" *ngIf="loading">
    <app-loading></app-loading>
</div>
<div class="contacto-container">
    <h3>{{ nuevoContacto.id ? 'Editar contacto' : 'Agregar nuevo contacto' }}</h3>
    <br>
    <form (ngSubmit)="guardarContacto()" #contactoForm="ngForm" style="width: 100%;">
        <div class="form-group">
            <textarea id="infoCasino" placeholder="Información del casino" [(ngModel)]="nuevoContacto.infoCasino"
                name="infoCasino" required class="input" #infoCasino="ngModel" rows="5"></textarea>
            <div *ngIf="infoCasino.invalid && (infoCasino.dirty || infoCasino.touched)" class="invalid">
                La información del torneo <strong>es requerida</strong>
            </div>
        </div>
        <div class="form-group">
            <input type="text" id="direccion" placeholder="Dirección" [(ngModel)]="nuevoContacto.direccion"
                name="direccion" required class="input" #direccion="ngModel">
            <div *ngIf="direccion.invalid && (direccion.dirty || direccion.touched)" class="invalid">
                La dirección del torneo <strong>es requerida</strong>
            </div>
        </div>
        <div class="form-group">
            <input type="text" id="numeroTelefono" placeholder="Teléfono" [(ngModel)]="nuevoContacto.numeroTelefono"
                name="numeroTelefono" required class="input" #numeroTelefono="ngModel" pattern="^(\+?[0-9]*)$">
            <div *ngIf="numeroTelefono.invalid && (numeroTelefono.dirty || numeroTelefono.touched)" class="invalid">
                <div *ngIf="numeroTelefono.errors?.['required']">
                    El teléfono <strong>es requerido</strong>
                </div>
                <div *ngIf="numeroTelefono.errors?.['pattern']">
                    El teléfono <strong>debe contener solo números</strong>
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="text" id="email" placeholder="Email" [(ngModel)]="nuevoContacto.email" name="email" required
                class="input" #email="ngModel" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="invalid">
                <div *ngIf="email.errors?.['required']">
                    El email <strong>es requerido</strong>
                </div>
                <div *ngIf="email.errors?.['pattern']">
                    El email debe ser <strong>válido</strong>
                </div>
            </div>
        </div>
        <div class="buttons">
            <button type="submit" class="btn aceptar" [disabled]="contactoForm.invalid">
                <i class="bi bi-save"></i> {{ 'Aceptar'}}
            </button>
            <a class="btn cancelar" (click)="cancelarCreacion()">Cancelar</a>
        </div>
    </form>
</div>