<div class="container">
  <div class="row" style="width:100%;">
      <div class="col-lg-6 offset-lg-3">
          <div class="card text-center" style="padding: 20px;">
              <h3>Agregar contacto</h3>
              <app-loading *ngIf="loading"></app-loading>
              <form [formGroup]="register" (ngSubmit)="crearContacto()" style="padding-top: 10px;">
                  <div class="form-group" style="text-align: start;">
                      <textarea class="form-control" placeholder="Informacion del casino" formControlName="infocasino" rows="5"></textarea>
                      <span class="text-danger ml-2" *ngIf="register.get('infocasino')?.hasError('required') && register.get('infocasino')?.touched">La informacion del casino <strong>es requerida</strong></span>
                  </div>
                  <div class="form-group" style="text-align: start;">
                      <input type="text" class="form-control" placeholder="Direccion del casino" formControlName="direccion">
                      <span class="text-danger ml-2" *ngIf="register.get('direccion')?.hasError('required') && register.get('direccion')?.touched">La direccion del casino <strong>es requerida</strong></span>
                  </div>
                  <div class="form-group" style="text-align: start;">
                    <input type="text" class="form-control" placeholder="Telefono del casino" formControlName="numerotelefono">
                    <span class="text-danger ml-2" *ngIf="register.get('numerotelefono')?.hasError('required') && register.get('numerotelefono')?.touched">El telefono del casino <strong>es requerido</strong></span>
                  </div>
                  <div class="form-group" style="text-align: start;">
                    <input type="text" class="form-control" placeholder="Email del casino" formControlName="email">
                    <span class="text-danger ml-2" *ngIf="register.get('email')?.hasError('required') && register.get('email')?.touched">El email del casino <strong>es requerido</strong></span>
                  </div>
                  <div class="form-group">
                      <button class="btn btn-primary mr-2 btn-reg" type="submit">Aceptar</button>
                      <button class="btn btn-secondary" routerLink="/inicio/login">Volver</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>