<div class="loading" style="width: 100%; display: flex; justify-content: center;">
  <app-loading *ngIf="loading"></app-loading>
</div>
<div class="dark-background" *ngIf="isCreateContacto"></div>
<div class="tabla" style="box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);">
  <div *ngIf="isCreateContacto" class="centered-container">
    <app-create-edit-contacto 
      [contacto]="contactoActual"
      (guardar)="guardarNuevoContacto($event)" 
      (cancelar)="cancelarNuevoContacto()">
    </app-create-edit-contacto>
  </div>
  <div class="buttons" style="padding-bottom: 20px;">
    <a class="agregar" href="javascript:void(0)" (click)="agregarContacto()">
      <i class="bi bi-plus-square-fill"></i>Agregar Contacto
    </a>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card text-center" style="padding: 20px;">
        <h3>Lista de Contactos</h3>
        <br>
        <table class="table table-striped" *ngIf="!loading && contactos && contactos.length > 0">
          <thead>
            <tr>
              <th>Direccion</th>
              <th>Informacion</th>
              <th>Email</th>
              <th>Telefono</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let contact of contactos">
              <td class="truncate">{{ contact.direccion }}</td>
              <td class="truncate">{{ contact.infoCasino }}</td>
              <td class="truncate">{{ contact.email }}</td>
              <td class="truncate">{{ contact.numeroTelefono }} </td>
              <td>
                <a class="custom-btn btn" (click)="editarContacto(contact)">
                  <i class="fas fa-pen"></i>
                </a>
                <a class="custom-btn btn" (click)="eliminarContacto(contact.id!)">
                  <i class="fas fa-trash-alt"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="!loading && (!contactos || contactos.length === 0)">
          <p>No hay contactos disponibles.</p>
        </div>
        <div style="margin-top: 20px;" class="pagination-controls" *ngIf="!loading && contactos && contactos.length > 0">
          <a class="btn-pagination" (click)="onPageChange(page - 1)" *ngIf="page != 1">Anterior</a>
          <span style="margin-right: 20px; cursor:default">Página {{ page }}</span>
          <a class="btn-pagination" (click)="onPageChange(page + 1)" *ngIf="hasNextPage">Siguiente</a>
        </div>
      </div>
    </div>
  </div>
</div>