<app-loading *ngIf="loading"
  style="position: absolute; display: flex; width: 100%; min-height: 100vh; justify-content: center; z-index: 10;"></app-loading>
<div class="dark-background" *ngIf="loading || isCreateContacto"></div>
<div class="container fade-in-top">
  <div class="titulo">
    <h3 class="tituloContactos">Lista de Contactos</h3>
  </div>
  <hr class="animated-line"
    style="background-color: rgb(255, 102, 0); height: 1px; width: 25rem; margin-left: 30px; border: none;">
  <br>
  <div class="tabla" style="box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);">
    <div *ngIf="isCreateContacto" class="centered-container">
      <app-create-edit-contacto [contacto]="contactoActual" (guardar)="guardarNuevoContacto($event)"
        (cancelar)="cancelarNuevoContacto()">
      </app-create-edit-contacto>
    </div>
    <div class="buttons" style="padding-bottom: 20px;">
      <a class="agregar" href="javascript:void(0)" (click)="agregarContacto()">
        <i class="bi bi-plus-square"></i>Agregar Contacto
      </a>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card text-center" style="padding: 20px;">
          <div class="table-responsive">
          <table class="table table-striped" *ngIf="!loading && contactos && contactos.length > 0">
            <thead>
              <tr>
                <th>Direccion</th>
                <th>Informacion</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let contact of contactos">
                <td >{{ contact.direccion }}</td>
                <td >{{ contact.infoCasino }}</td>
                <td >{{ contact.email }}</td>
                <td >{{ contact.numeroTelefono }} </td>
                <td>
                  <a class="custom-btn btn-sm" (click)="editarContacto(contact)">
                    <i class="fas fa-pen"></i>
                  </a>
                  <a class="custom-btn btn-sm" (click)="eliminarContacto(contact.id!)">
                    <i class="fas fa-trash-alt"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
          <div *ngIf="!loading && (!contactos || contactos.length === 0)">
            <p style="color: grey;">No hay contactos disponibles.</p>
          </div>
          <div style="margin-top: 20px;" class="pagination-controls"
            *ngIf="!loading && contactos && contactos.length > 0">
            <a class="btn-pagination" (click)="onPageChange(page - 1)" *ngIf="page != 1">Anterior</a>
            <span style="margin-right: 20px; cursor:default; color: rgb(224, 224, 224);">Página {{ page }}</span>
            <a class="btn-pagination" (click)="onPageChange(page + 1)" *ngIf="hasNextPage">Siguiente</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>