<div class="container">
  <div class="row" style="width:100%;">
      <div class="col-lg-6 offset-lg-3">
        <div class="loading" style="width: 100%; display: flex; justify-content: center;">
            <app-loading *ngIf="loading"></app-loading>
        </div>
          <div class="card text-center" style="padding: 20px;">
              <h3>Editar Recurso</h3>
              <form [formGroup]="editForm" (ngSubmit)="guardarCambios()" style="padding-top: 10px;">
                  <div class="form-group" style="text-align: start;">
                      <input type="text" class="form-control" placeholder="Título del recurso" formControlName="titulo">
                      <span class="text-danger ml-2" *ngIf="editForm.get('titulo')?.hasError('required') && editForm.get('titulo')?.touched">El título del recurso <strong>es requerido</strong></span>
                  </div>
                  <div class="form-group" style="text-align: start;">
                      <textarea class="form-control" placeholder="Contenido del recurso" formControlName="mensaje" rows="5"></textarea>
                      <span class="text-danger ml-2" *ngIf="editForm.get('mensaje')?.hasError('required') && editForm.get('mensaje')?.touched">El contenido del recurso <strong>es requerido</strong></span>
                  </div>
                  <div class="form-group" style="text-align: start;">
                      <input type="text" class="form-control" placeholder="URL de la imagen" formControlName="urlImagen">
                  </div>
                  <div class="form-group" style="text-align: start;">
                    <input type="text" class="form-control" placeholder="URL del video" formControlName="urlVideo">
                </div>
                  <div class="form-group">
                      <button class="btn btn-primary mr-2 btn-reg" type="submit" [disabled]="editForm.invalid">Guardar Cambios</button>
                      <button class="btn btn-secondary" type="button" (click)="cancelarEdicion()">Cancelar</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>