<div class="container">
    <app-loading *ngIf="loading" style="display: flex;justify-content: center; position: absolute; z-index: 10;" ></app-loading>
    <div class="dark-background" *ngIf="loading"></div>
    <div class="login wrap">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <h2>Inicio de Sesión</h2>
        <form [formGroup]="login" (ngSubmit)="log()" style="padding-top: 10px;">
            <div class="form-group">
                <input type="text" id="email" placeholder="Nombre de Usuario" formControlName="nombreUsuario">
                <div class="text-danger ml-2" *ngIf="login.get('nombreUsuario')?.hasError('required') && login.get('nombreUsuario')?.touched">
                    El nombre del usuario <strong>es requerido</strong>
                </div>
            </div>
            <div class="form-group">
                <input type="password" id="password" placeholder="Contraseña" formControlName="password">
                <div class="text-danger ml-2" *ngIf="login.get('password')?.hasError('required') && login.get('password')?.touched">
                    La contraseña <strong>es requerida</strong>
                </div>
            </div>
            <input class="btn" [disabled]="login.invalid" type="submit" value="Ingresar">
        </form>
        
    </div>
</div>

