<app-loading *ngIf="loading"
  style="position: absolute; display: flex; width: 100%; min-height: 100vh; justify-content: center; z-index: 10;"></app-loading>
<div class="dark-background" *ngIf="loading || isCreateNoticia"></div>
<div class="container fade-in-top">
  <div class="titulo">
    <h3 class="tituloNoticias">Lista de Noticias</h3>
  </div>
  <hr class="animated-line"
    style="background-color: rgb(255, 102, 0); height: 1px; width: 25rem; margin-left: 30px; border: none;">
  <br>
  <div class="tabla" style="box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);">
    <div *ngIf="isCreateNoticia" class="centered-container">
      <app-create-edit-noticia [noticia]="noticiaActual" (guardar)="guardarNuevaNoticia($event)"
        (cancelar)="cancelarNuevaNoticia()">
      </app-create-edit-noticia>
    </div>
    <div class="buttons" style="padding-bottom: 20px; display: flex; justify-content: space-between;">
      <div>
        <a class="agregar" href="javascript:void(0)" (click)="agregarNoticia()">
          <i class="bi bi-plus-square-fill"></i>Agregar Noticia
        </a>
      </div>
      <div style="display: flex; gap: 20px;">
        <div style="display: flex; align-items: center; gap: 10px;">
          <input type="text" [(ngModel)]="filtro" (keyup.enter)="aplicarFiltro()" placeholder="Buscar noticias..."
            class="input" style="width: 300px;">
          <button (click)="aplicarFiltro()" style="background: none; border: none; cursor: pointer;">
            <i class="bi bi-search"></i>
          </button>
        </div>
        <input type="date" [(ngModel)]="filtroFecha" (change)="aplicarFiltroFecha()" class="date"
          style="width: 150px;">
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card text-center" style="padding: 20px;">
          <table class="table table-striped" *ngIf="!loading && noticias && noticias.length > 0">
            <thead>
              <tr>
                <th>Titulo</th>
                <th>Fecha</th>
                <th>Mensaje</th>
                <th>Imagen</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let noticia of noticias">
                <td class="truncate">{{ noticia.titulo }}</td>
                <td class="truncate">{{ noticia.fecha | date:'dd/MM/yyyy' }}</td>
                <td class="truncate">{{ noticia.mensaje }}</td>
                <td>
                  <a [href]="noticia.idImagen" target="_blank">
                    <img src="{{noticia.idImagen}}" class="img-noticia">
                  </a>
                </td>
                <td>
                  <a class="custom-btn btn-sm" (click)="editarNoticia(noticia)">
                    <i class="fas fa-pen"></i>
                  </a>
                  <a class="custom-btn btn-sm" (click)="eliminarNoticia(noticia.id!)">
                    <i class="fas fa-trash-alt"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="!loading && (!noticias || noticias.length === 0)">
            <p style="color: grey;">No hay noticias disponibles.</p>
          </div>
          <div style="margin-top: 20px;" class="pagination-controls"
            *ngIf="!loading && noticias && noticias.length > 0">
            <a class="btn-pagination" (click)="onPageChange(page - 1)" *ngIf="page != 1">Anterior</a>
            <span style="margin-right: 20px; cursor:default; color: rgb(224, 224, 224);">Página {{ page }}</span>
            <a class="btn-pagination" (click)="onPageChange(page + 1)" *ngIf="hasNextPage">Siguiente</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>