<app-loading *ngIf="loading"
  style="position: absolute; display: flex; width: 100%; min-height: 100vh; justify-content: center; z-index: 10;"></app-loading>
<div class="dark-background" *ngIf="loading || isCreateTorneo"></div>
<div class="container fade-in-top">
  <div class="titulo">
    <h3 class="tituloTorneos">Lista de Torneos</h3>
  </div>
  <hr class="animated-line"
    style="background-color: rgb(255, 102, 0); height: 1px; width: 18rem; margin-left: 30px; border: none;">
  <br>
  <div class="tabla" style="box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);">
    <div *ngIf="isCreateTorneo" class="centered-container">
      <app-create-torneo [torneo]="torneoActual" (guardar)="guardarNuevoTorneo($event)"
        (cancelar)="cancelarNuevoTorneo()">
      </app-create-torneo>
    </div>

    <div class="buttons" style="padding-bottom: 20px; display: flex; justify-content: space-between;">
      <div>
        <a class="agregar" href="javascript:void(0)" (click)="agregarTorneo()">
          <i class="bi bi-plus-square-fill"></i>Agregar torneo
        </a>
      </div>
      <div style="display: flex; gap: 20px;">
        <div style="display: flex; gap: 20px;">
          <div style="display: flex; align-items: center; gap: 10px;">
            <input type="text" [(ngModel)]="filtro" (keyup.enter)="aplicarFiltro()" placeholder="Buscar torneos..."
              class="input" style="width: 300px;">
            <button (click)="aplicarFiltro()" style="background: none; border: none; cursor: pointer;">
              <i class="bi bi-search"></i>
            </button>
          </div>
          <input type="date" [(ngModel)]="filtroFecha" (change)="aplicarFiltroFecha()" class="date"
            style="width: 150px;">
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="card text-center" style="padding: 20px;">
          <table class="table table-striped table-no-border" [ngClass]="{ 'hidden': loading }"
            *ngIf="!loading && torneos && torneos.length > 0">
            <thead>
              <tr>
                <th>#</th>
                <th>Inicio</th>
                <th>Cierre</th>
                <th>Evento</th>
                <th>Stack</th>
                <th>Niveles</th>
                <th>Fecha</th>
                <th>Entrada</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let torneo of torneos">
                <td class="truncate">{{ torneo.numeroRef }}</td>
                <td class="truncate">{{ torneo.inicio }}</td>
                <td class="truncate">{{ torneo.cierre }}</td>
                <td class="truncate">{{ torneo.nombre }}</td>
                <td class="truncate">{{ torneo.stack }}</td>
                <td class="truncate">{{ torneo.niveles }}</td>
                <td class="truncate">{{ torneo.fecha | date:'dd/MM/yyyy' }}</td>
                <td class="truncate">{{ torneo.entrada }}</td>
                <td>
                  <a class="custom-btn btn-sm" (click)="editarTorneo(torneo)">
                    <i class="fas fa-pen"></i>
                  </a>
                  <a class="custom-btn btn-sm" (click)="eliminarTorneo(torneo.id!)">
                    <i class="fas fa-trash-alt"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="!loading && (!torneos || torneos.length === 0)">
            <p style="color: grey;">No hay torneos disponibles.</p>
          </div>
          <div style="margin-top: 20px;" class="pagination-controls" *ngIf="!loading && torneos && torneos.length > 0">
            <a class="btn-pagination" (click)="onPageChange(page - 1)" *ngIf="page != 1">Anterior</a>
            <span style="margin-right: 20px; cursor:default; color: rgb(224, 224, 224);">Página {{ page }}</span>
            <a class="btn-pagination" (click)="onPageChange(page + 1)" *ngIf="hasNextPage">Siguiente</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>