<app-loading *ngIf="loading"
  style="position: absolute; display: flex; width: 100%; min-height: 100vh; justify-content: center; z-index: 10;"></app-loading>
<div class="dark-background" *ngIf="loading"></div>
<div class="container fade-in-top">
  <div class="titulo">
    <h3 class="tituloComentarios">Lista de Comentarios</h3>
  </div>
  <hr class="animated-line"
    style="background-color: rgb(255, 102, 0); height: 1px; width: 27rem; margin-left: 30px; border: none;">
  <br>
  <div class="tabla" style="box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);">
    <div class="row">
      <div class="col-12">
        <div class="card text-center" style="padding: 20px;">
          <table class="table table-striped" *ngIf="!loading && feedbacks && feedbacks.length > 0">
            <thead>
              <tr>
                <th>Fecha</th>
                <th>Categoría</th>
                <th>Mensaje</th>
                <th>Anónimo</th>
                <th>Usuario</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let comentario of feedbacks">
                <td class="truncate">{{ comentario.fecha | date:'dd/MM/yyyy' }}</td>
                <td class="truncate">{{ obtenerNombreCategoria(comentario.categoria) }}</td>
                <td class="truncate">{{ comentario.mensaje }}</td>
                <td class="truncate">{{ comentario.isAnonimo ? 'SI' : 'NO' }}</td>
                <td>
                  <a class="custom-btn" (click)="verUsuario(comentario)">
                    <i class="fa-solid fa-circle-info"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="!loading && (!feedbacks || feedbacks.length === 0)">
            <p style="color: grey;">No hay comentarios disponibles.</p>
          </div>
          <div style="margin-top: 20px;" class="pagination-controls"
            *ngIf="!loading && feedbacks && feedbacks.length > 0">
            <a class="btn-pagination" (click)="onPageChange(page - 1)" *ngIf="page != 1">Anterior</a>
            <span style="margin-right: 20px; cursor:default; color: rgb(224, 224, 224);">Página {{ page }}</span>
            <a class="btn-pagination" (click)="onPageChange(page + 1)" *ngIf="hasNextPage">Siguiente</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-feedback-create *ngIf="selectedFeedback" [feedback]="selectedFeedback" [jugador]="selectedUser"
  (cerrar)="cerrarPopup()"></app-feedback-create>