@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import '~@fortawesome/fontawesome-free/css/all.css';

.container {
  min-height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-top: 200px;
  padding-bottom: 20px;
}

.dark-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.container-fluid .dark-background {
  display: block;
}

.custom-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  color: black;
  border-radius: 5px;
}

.custom-btn {
  margin: 0 5px;
}

.custom-btn:hover {
  background-color: rgb(180, 84, 15);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}


.custom-btn .fas {
  font-size: 1rem;
}

.tabla {
  margin-left: 2%;
  margin-right: 2%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}


.img-fluid {
  max-height: 100px;
  width: auto;
}

.swal2-cancel-button {
  color: #000 !important;
  border: none !important;
}

.swal2-confirm-button {
  border: none !important;
}


.agregar {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background-color: rgb(180, 84, 15);
  border: none;
  color: #fff;
  padding: 8px;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.5s;
}

.agregar:hover {
  background-color: rgb(218, 136, 77);
}

.importar {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background-color: rgb(65, 65, 65);
  border: none;
  color: #fff;
  padding: 8px;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.5s;
}

.importar:hover {
  background-color: rgb(114, 114, 114);
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

i {
  font-size: 1.2rem;
  color: white;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.ranking-btn {
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  background-color: gray;
  color: white;
}

.ranking-btn.active {
  background-color: darkorange;
  color: white;
}

.ranking-btn:hover {
  transform: scale(1.05);
  background-color: orange;
}

.btn-pagination {
  text-decoration: none;
  cursor: pointer;
  color: white;
  padding: 10px;
  background-color: rgb(180, 84, 15);
  border-radius: 15px;
  margin-right: 20px;
  transition: 0.5s;
}

.btn-pagination:hover {
  background-color: rgb(202, 133, 83);
}

.btn-pagination:disabled {
  background-color: rgb(97, 96, 95);
}

.card {
  border-radius: 10px;
  background-color: transparent;
}

.table {
  background-color: transparent;
  border-radius: 20px;
}

.table th,
.table td {
  background-color: rgb(0, 0, 0, 0.5);
  color: white;
}

.table tr:nth-child(even) th,
.table tr:nth-child(even) td {
  background-color: rgba(19, 19, 19, 0.5);
}

@keyframes fadeInFromTop {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-top {
  animation: fadeInFromTop 1s cubic-bezier(0.25, 1, 0.5, 1);
}

.table-no-border td,
.table-no-border th {
  border: none;
}

.animated-line {
  animation: slideIn 1s forwards;
  transform: translateX(100%);
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.titulo {
  display: inline-block;
  margin-left: 30px;
}

.tituloRanking {
  font-size: 2rem;
  color: rgb(224, 224, 224);
  letter-spacing: 5px;
  border-right: 5px solid;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation:
    typing 2s steps(7),
    cursor .4s step-end infinite alternate;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0
  }
}