<div class="container">
    <app-loading *ngIf="loading"></app-loading>
    <div *ngIf="usuario.rol == 0" class="card-torneo" routerLink="/dashboard/torneos">
        <div class="card-content">
            <p><strong>Administración de Torneos</strong></p>
        </div>
        <a href="#">Registrar Torneo</a>
        <a href="#">Crear Mapa del Evento</a>
        <a href="#" routerLink="/dashboard/recursos-register">Recursos Educativos</a>
    </div>
    <div *ngIf="usuario.rol == 1" class="card" routerLink="/dashboard/prensa">
        <p><strong>Administración de Prensa</strong></p>
    </div>
</div>