<div class="container">
    <div class="card" routerLink="/dashboard/reloj">
        <p><strong>Reloj de Torneos</strong></p>
    </div>
    <div class="card-torneo" routerLink="/dashboard/torneos">
        <div class="card-content">
            <p><strong>Administración de Torneos</strong></p>
        </div>
        <a href="#">Registrar Torneo</a>
        <a href="#">Crear Mapa del Evento</a>
        <a href="#">Recursos Educativos</a>
    </div>
    <div class="card" routerLink="/dashboard/prensa">
        <p><strong>Administración de Prensa</strong></p>
    </div>
</div>