.create-player-container {
  min-width: 400px;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.titulo {

  padding: 10px;
  padding-bottom: 15px;
  text-align: center;

}

.form-group {
  margin-bottom: 15px;
}

.input {
  outline: none;
  width: 100%;
  padding: 5px;
  border: rgb(182, 182, 182) solid 1px;
  border-radius: 4px;
  color: #575757;
  padding-left: 10px;
}

.input:focus {
  border: #575757 solid 1px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.btn {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.cancelar {
  background-color: rgb(101, 103, 104);
  color: #fff;
}

.cancelar:hover {
  background-color: rgb(64, 64, 65);
}

.aceptar {
  background-color: rgb(255, 120, 30);
  border: none;
  color: #fff;
}

.aceptar:hover {
  background-color: darkorange;
}