<div class="create-player-container">
  <h3 class="titulo">Agregar jugador</h3>
  <form [formGroup]="jugadorForm" (ngSubmit)="guardarJugador()">
    <div class="form-group">
      <label for="numberPlayer">Número de Jugador</label>
      <input type="text" id="numberPlayer" formControlName="numberPlayer" class="input">
      <div class="text-danger ml-2" *ngIf="numberPlayer?.invalid && (numberPlayer?.dirty || numberPlayer?.touched)">
        <span *ngIf="numberPlayer?.errors?.['required']">Número de jugador es <strong>requerido.</strong></span>
        <span *ngIf="numberPlayer?.errors?.['pattern'] && !numberPlayer?.errors?.['required']">Número de jugador debe ser un número <strong>válido.</strong></span>
        <span *ngIf="numberPlayer?.errors?.['noSoloGuion'] && !numberPlayer?.errors?.['required'] && !numberPlayer?.errors?.['pattern']">Número de jugador no puede ser solo un <strong>guion (-).</strong></span>
      </div>
    </div>
    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" id="name" formControlName="name" class="input">
      <div class="text-danger ml-2" *ngIf="name?.invalid && (name?.dirty || name?.touched)">
        <span *ngIf="name?.errors?.['required']">El nombre es <strong>requerido.</strong></span>
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" formControlName="email" class="input">
      <span class="text-danger ml-2" *ngIf="email?.invalid && (email?.dirty || email?.touched)">
        <span *ngIf="email?.errors?.['required']">El email es <strong>requerido</strong></span>
        <span *ngIf="email?.errors?.['email'] && !email?.errors?.['required']">El email debe ser <strong>válido</strong></span>
      </span>
    </div>
    <div class="form-group">
      <label for="password">Contraseña</label>
      <input type="password" id="password" formControlName="password" class="input">
      <div class="text-danger ml-2" *ngIf="password?.invalid && (password?.dirty || password?.touched)">
        <span *ngIf="password?.errors?.['required']">La contraseña es <strong>requerida.</strong></span>
      </div>
    </div>
    <div class="buttons">
      <button type="submit" class="btn aceptar" [disabled]="jugadorForm.invalid"> <i class="bi bi-save"></i> Aceptar</button>
      <button type="button" class="btn cancelar" (click)="cancelarCreacion()">Cancelar</button>
    </div>
  </form>
</div>